@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600;700;900');
* {
    font-family: "Roboto";
}
/* #juego {
    float: left;
    clear: left;
} */
main {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
}
#juego {
    margin: 0 auto;
    height: 100%;
}
#juego .fila {
    display:flex;
    margin-bottom: 5px;
}
#teclado .fila {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}
#teclado .fila button{
    /* padding:20px; */
    width: 55px;
    height: 68px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 8px;
    margin: 0 2px;
    
}
#teclado .fila :active {
    background-color: lightgray;
    border-color: lightgray;
}

.cifra {
    border: 3px solid gray;
    width: 50px;
    height: 50px;
    margin: 2px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    position: relative;
    padding:0;
}
.cifra.correct{
    border-color: green;
    background-color: rgb(186, 235, 186);
}
.cifra.maybe{
    border-color: orange;
    background-color: rgb(255, 216, 183);
}
.cifra.posicion:after {
    content: '';
    border-style: solid;
    border-width:  10px 10px 0px;
    border-color: transparent black transparent transparent;
    right: 0;
    bottom: 0;
    position: absolute;
}
